{% comment %} Name: Mary C Wilson {% endcomment %}

{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Billing Software </title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/logo/logo3.png' %}" />
        <link rel="stylesheet" href="static/assets/vendor/owl-carousel/css/owl.carousel.min.css">
        <link rel="stylesheet" href="static/assets/vendor/owl-carousel/css/owl.theme.default.min.css">
        <link href="static/assets/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/fbe819dd43.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <script src="path/to/jquery.min.js"></script>
        <script src="path/to/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="/static/path/to/jquery.min.js"></script>
        <script src="/static/path/to/bootstrap.min.js"></script>
        <script src="{% static 'path/to/jquery.min.js' %}"></script>
        <script src="{% static 'path/to/bootstrap.min.js' %}"></script>

    
    </head>
    <style>
        ul li a {
            display: inline-block; /* Make the links and icons appear in a line */
        }
        
        /* Style the "+" button as needed */
        ul li a + a {
            margin-left: 5px; /* Add space between the link and the plus button */
            text-decoration: none; /* Remove underline from the plus button */
        }
        label{
            color:black;
        }
        .form-control{
            border:1px solid black;
        }
        td{
            color:black;
        }
       
    </style>
    
<body>
     <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper" >

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="" class="brand-logo">
                <img class="logo-abbr" src="static/img/logo/logo3.png" alt="">
                <p style="margin-top: 10px;"> BILLING SOFTWARE</p>
                <img class="logo-compact" src="./images/logo-text.png" alt="">
                <img class="brand-title" src="./images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
        
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'profile' %}" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>

                                    <a href="{% url 'logout' %}" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li><a href="{% url 'homepage' %}" aria-expanded="false"><i class="icon icon-world-2"></i><span class="nav-text">Dashboard</span></a></li>
                <li><a href="/" aria-expanded="false"><i class="icon icon-single-04"></i><span class="nav-text">Parties</span></a></li>
                <li><a href="/" aria-expanded="false"><i class="icon icon-globe-2"></i><span class="nav-text">Item</span></a></li>

                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                            class="icon icon-plug"></i><span class="nav-text">Sales</span></a>
                    <ul aria-expanded="false">
                        <li><a href="./">Invoice</a></li>
                        <li><a href="./">Credit Note</a></li>
                     
                    </ul>
                </li>

                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                    class="icon icon-plug"></i><span class="nav-text">Purchase</span></a>
            <ul aria-expanded="false">
                <li><a href="./">Invoice</a></li>
                <li><a href="./">Credit Note</a></li>
                <li>
        <a href="{% url 'purchase' %}">Purchase Bill</a>
        <a href="{% url 'add_purchase' %}">
            <i class="fa-sharp fa-solid fa-plus"></i>
        </a>
    </li>
    <li><a href="{% url 'first_bill' %}">First Bill</a></li>  
                              
            </ul>
        </li>
                
                <li><a href="/" aria-expanded="false"><i class="icon icon-globe-2"></i><span class="nav-text">Stock Report</span></a></li>
            </ul>
        </div>
    </div>        


    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->
    {% block content %}{% endblock content %}
    <!-- Required vendors -->
 <script src="static/assets/vendor/global/global.min.js"></script>
 <script src="static/assets/js/quixnav-init.js"></script>
 <script src="static/assets/js/custom.min.js"></script>


 <!-- Vectormap -->
 <script src="static/assets/vendor/raphael/raphael.min.js"></script>
 <script src="static/assets/vendor/morris/morris.min.js"></script>


 <script src="static/assets/vendor/circle-progress/circle-progress.min.js"></script>
 <script src="static/assets/vendor/chart.js/Chart.bundle.min.js"></script>

 <script src="static/assets/vendor/gaugeJS/dist/gauge.min.js"></script>

 <!--  flot-chart js -->
 <script src="static/assets/vendor/flot/jquery.flot.js"></script>
 <script src="static/assets/vendor/flot/jquery.flot.resize.js"></script>

 <!-- Owl Carousel -->
 <script src="static/assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>

 <!-- Counter Up -->
 <script src="static/assets/vendor/jqvmap/js/jquery.vmap.min.js"></script>
 <script src="static/assets/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
 <script src="static/assets/vendor/jquery.counterup/jquery.counterup.min.js"></script>


 <script src="static/assets/js/dashboard/dashboard-1.js"></script>
 <!-- Add this to your template -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>






</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get references to the relevant form elements
        var cnameSelect = document.getElementById("cname");
        var cnoInput = document.getElementById("cno");
        var billingAddressTextarea = document.getElementById("billingAddress");
        var balanceInput = document.getElementById("balance");

        // Add an event listener to the customer select element
        cnameSelect.addEventListener("change", function() {
            // Get the selected option
            var selectedOption = cnameSelect.options[cnameSelect.selectedIndex];

            // Update the corresponding fields based on the selected option's data attributes
            cnoInput.value = selectedOption.getAttribute("data-phone") || "";
            billingAddressTextarea.value = selectedOption.getAttribute("data-address") || "";
            balanceInput.value = selectedOption.getAttribute("data-balance") || "";
        });
    });
</script>
<!-- Add this script section at the end of your HTML body -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the current date in the format 'YYYY-MM-DD'
        var currentDate = new Date().toISOString().split('T')[0];

        // Set the default value for the 'bdate' input field to the current date
        document.getElementById("bdate").value = currentDate;
    });
</script>


<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="stat-widget-two card-body">
                        <div class="stat-content">
                            <h3 class="head" style="color: blue; font-weight: bold;">ADD PURCHASE BILL</h3><br>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="d-block text-left mb-2">Customer</label>
                                        <div class="d-flex">
                                            <select name="cname" class="form-control" id="cname" required>
                                                <option value="" disabled selected>Select a customer</option>
                                                {% for party in party_names %}
                                                    <option value="{{ party.party_name }}" data-phone="{{ party.phone_number }}" data-address="{{ party.billing_address }}" data-state="{{ party.state }}" data-balance="{{ party.opening_balance }}">{{ party.party_name }}</option>
                                                {% endfor %}
                                            </select>
                                            <button type="button" class="btn btn-primary ml-2" onclick="">+</button>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    
                                    <div class="col-md-4">
                                        <label class="d-block text-left" for="cno">Phone Number</label>
                                        <input type="number" name="cno" class="form-control" id="cno" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="d-block text-left" for="billingAddress">Billing Address</label>
                                        <textarea name="billingAddress" class="form-control" id="billingAddress" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="d-block text-left" for="bno">Bill No</label>
                                        <input type="number" name="bno" class="form-control" id="bno" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="d-block text-left" for="balance">Balance</label>
                                        <input type="number" name="balance" class="form-control" id="balance" required>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="d-block text-left" for="bdate">Bill Date</label>
                                        <input type="date" name="bdate" class="form-control" id="bdate" placeholder="mm\dd\yyyy" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="d-block text-left" for="source">Supply Source</label>
                                        <select name="source" class="form-control" id="source" required>
                                            <option value="">-- Select --</option>
                                            <option value="State">State</option>
                                            <option value="Other State">Other State</option>
                                            <!-- Add more options as needed -->
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="d-block text-left" for="payment">Payment Method</label>
                                        <select name="payment" class="form-control" id="payment" required>
                                            <option value="">-- Select --</option>
                                            <option value="Gpay">Gpay</option>
                                            <option value="Net Banking">Net Banking</option>
                                            <option value="Credit Card">Credit Card</option>
                                            <option value="Debit Card">Debit Card</option>
                                            <!-- Add more options as needed -->
                                        </select>
                                    </div>
                                </div><br>

                                   
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
{% comment %} ------------------------------------------------------------------------------------------------- {% endcomment %}
        <!-- HTML -->
        <!-- Update the size of the input fields as needed -->
        <div class="col-md-12 " style="margin-left:12px;">
            
            <table class='table' id="itemTable">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 20px;" scope="col">#</th>
                        <th style="width: 200px;" scope="col">Items</th>
                        <th scope="col">HSN</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Tax%</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Field</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
                
            </table>
            <button type="button" class="btn btn-primary" onclick="addItemRow()">+</button>
       
        </div><br><br>
        
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <script>
            function addItemRow() {
                var index = $("#itemTable tbody tr").length + 1;
        
                var newRow = `<tr>
                    <th style="color:black; style="width: 10px;"" scope="row">${index}</th>
                    <td style="width: 200px;">
                        <div style="display: flex; align-items: center;">
                            <select name="item_name[]" class="form-control itemDropdown" onchange="handleItemDropdownChange($(this))">
                                <option value="" disabled selected>Select an item</option>
                                <!-- Dynamically populated options will go here -->
                            </select>
                            <button style="margin-left:5px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                +
                            </button>
                       
                    </td>
                    <td style="width: 90px;"><input type="text" name="item_hsn[]" class="form-control hsnInput"></td>
                    <td style="width: 50px;"><input type="number" name="quantity[]" class="form-control quantityInput" oninput="calculateAmount($(this))"></td>
                    <td style="width: 100px;"><input type="number" name="price[]" class="form-control priceInput"></td>
                    <td style="width: 100px;"><input type="number" name="tax[]" class="form-control taxInput" readonly></td>
                    <td style="width: 100px;"><input type="number" name="discount[]" class="form-control discountInput" oninput="calculateAmount($(this))"></td>
                    <td style="width: 130px;"><input type="number" name="amount[]" class="form-control amountInput" readonly></td>
                    <td style="width: 90px;"><input type="text" name="field[]" class="form-control"></td>
                </tr>`;
        
                var newElement = $(newRow);
                $("#itemTable tbody").append(newElement);
        
                // Fetch items and update the dropdown for the new row
                var itemDropdown = newElement.find(".itemDropdown");
                fetchItemsAndUpdateDropdown(itemDropdown);
            }
        
            $(document).ready(function () {
                addItemRow(); // Add the first row on page load
            });
        
            function fetchItemsAndUpdateDropdown(dropdown) {
                $.ajax({
                    url: '/get_items/', // Update the URL accordingly
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        dropdown.empty();
                        dropdown.append('<option value="" disabled selected>Select an item</option>');
                        $.each(data.items, function (key, value) {
                            dropdown.append('<option value="' + value.id + '">' + value.item_name + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
            function handleItemDropdownChange(dropdown) {
                var selectedItemId = dropdown.val();
                var row = dropdown.closest('tr');
                var hsnInput = row.find('.hsnInput');
                var priceInput = row.find('.priceInput');
                var taxInput = row.find('.taxInput');
            
                // Get the selected customer's state
                var customerState = $('#cname option:selected').data('state');
            
                // Make an AJAX call to fetch item details by ID
                $.ajax({
                    url: '/get_item_details/' + selectedItemId + '/',
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Update HSN, Price, and Tax% inputs
                        hsnInput.val(data.hsn);
                        priceInput.val(data.price);
            
                        // Determine the tax rate based on supply source and customer state
                        var taxRate = (data.supply_source === customerState) ? data.gst_tax : data.igst_tax;
                        taxInput.val(taxRate);
            
                        // Manually recalculate amount based on the new values
                        calculateAmountForRow(row);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            } 
            
            function calculateAmountForRow(row) {
                var quantity = row.find('.quantityInput').val() || 0;
                var price = row.find('.priceInput').val() || 0;
                var discount = row.find('.discountInput').val() || 0;
                var tax = row.find('.taxInput').val() || 0;
            
                // Calculate amount with tax and discount
                var amount = (quantity * price) - discount;
                if (tax > 0) {
                    amount += amount * (tax / 100);
                }
            
                // Update the amount input
                row.find('.amountInput').val(amount.toFixed(2));
            }
        </script>
        {% comment %} --------------------------------------Modal------------------------------ {% endcomment %}
            
        <div class="modal col-md-10" style="margin-left: 220px;" id="myModal">
            <form id="yourFormId" data-add-item-url="{% url 'add_item' %}">
                {% csrf_token %}
        
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Add New Item</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
        
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="d-block text-left mb-2">TYPE</label>
                                    <div class="d-flex">
                                        <select name="type" class="form-control" id="cname" placeholder="Select Type" required>
                                            <option value="">Select Type</option>
                                            <option value="Product" >Product</option>
                                            <option value="Service">Service</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-md-3">
                                    <label class="d-block text-left">ITEM NAME</label>
                                    <input type="text" name="name" class="form-control" placeholder="Item Name" required>
                                </div>
                                <div class="col-md-3">
                                    <label class="d-block text-left">ITEM HSN</label>
                                    <input type="number" name="hsn" class="form-control" placeholder="Item HSN"></input>
                                </div>
                                <div class="col-md-3">
                                    <label class="d-block text-left">ITEM UNIT</label>
                                    <select type="number" name="unit" class="form-control" placeholder="Item Unit" required>
                                        <option value="">Select Unit</option>
                                        <option value="Box" >Box</option>
                                        <option value="Packet">Packet</option>
                                        <option value="Bundle" >Bundle</option>
                                        <option value="Pieces">Pieces</option>
                                    </select>
                                </div>
                            </div><br><br>
                        <!-- Section 1: Pricing -->
                        <div class="pricing-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="text-align:center;">PRICING</h3><br>
                                    <center>
                                        <input type="radio" name="tax" value="nonTaxable" id="nonTaxableRadio">
                                        <label for="nonTaxableRadio">Non Taxable</label>
                                        <input type="radio" name="tax" value="taxable" id="taxableRadio">
                                        <label for="taxableRadio">Taxable</label><br>
                                    </center><br>
        
                                    <!-- Fields for Non Taxable -->
                                    <div id="nonTaxableFields">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="d-block text-left" for="bno">Sales Price</label>
                                                <input type="number" name="sprice" class="form-control" id="bno" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="d-block text-left" for="balance">Purchase Price</label>
                                                <input type="number" name="pprice" class="form-control" id="balance" required>
                                            </div>
                                        </div><br>
                                    </div>
        
                                    <!-- Fields for Taxable -->
                                    <div id="taxableFields" style="display:none;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="d-block text-left" for="gst">GST</label>
    
                                                <select type="number" name="gst" class="form-control" id="gst" required>
                                                    <option value="GST0[0%]">GST0[0%]</option>
                                                    <option value="GST3[3%]" >GST3[3%]</option>
                                                    <option value="GST5[5%]">GST5[5%]</option>
                                                    <option value="GST12[12%]" >GST12[12%]</option>
                                                    <option value="GST18[18%]">GST18[18%]</option>
                                                    <option value="GST28[28%]">GST28[28%]</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="d-block text-left" for="igst">IGST</label>
                                                <select type="number" name="gst" class="form-control" id="gst" required>
                                                    <option value="IGST0[0%]">IGST0[0%]</option>
                                                    <option value="IGST3[3%]" >IGST3[3%]</option>
                                                    <option value="IGST5[5%]">IGST5[5%]</option>
                                                    <option value="IGST12[12%]" >IGST12[12%]</option>
                                                    <option value="IGST18[18%]">IGST18[18%]</option>
                                                    <option value="IGST28[28%]">IGST28[28%]</option>
                                                </select>                                            </div>
                                        </div><br>
                                    
                                        <!-- Sale Price and Purchase Price fields for Taxable -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="d-block text-left" for="spriceTaxable">Sale Price</label>
                                                <input type="number" name="spriceTaxable" class="form-control" id="spriceTaxable">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="d-block text-left" for="ppriceTaxable">Purchase Price</label>
                                                <input type="number" name="ppriceTaxable" class="form-control" id="ppriceTaxable">
                                            </div>
                                        </div><br>
                                        <!-- Additional fields for Taxable -->
                                        <!-- ... -->
                                    </div>
                                </div>
                            </div><br>
                        </div>
        <br><br>
                        <!-- Section 2: Stocks -->
                        <div class="stocks-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="text-align:center;">STOCKS</h3><br><br>
                                    <div class="col-md-6">
                                        <label class="d-block text-left" for="bno">STOCK IN HAND</label>
                                        <input type="number" name="sth" class="form-control" id="stockInHand" placeholder="Opening Stock here" required>
                                    </div>
                                    <div id="extraPriceField" style="display: none;">
                                        <div class="col-md-6" >
                                            <label class="d-block text-left" for="extraPrice">At Price</label>
                                            <input type="number" name="extraPrice" class="form-control" placeholder="At Price here">
                                        </div>
                                    </div><br>

                                    <div class="col-md-6">
                                        <label class="d-block text-left" for="balance">DATE</label>
                                        <input type="date" name="date" class="form-control" id="balance" required>
                                    </div>
                                </div>
                            
                            </div>
                     
                    </div>
                </div>
                        
        
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveButton">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

      
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

      <script>
        // Add an event listener to the radio buttons to toggle the visibility of fields
        $(document).ready(function () {
            // Add an event listener to the Save button
            $("#saveButton").click(function () {
                // Log the data to check if it's correct
                console.log("Form data:", $("#yourFormId").serialize());
        
                // Store the dropdown element
                var dropdown = $("#cname");
        
                // Perform an AJAX request to the server
                $.ajax({
                    type: "POST",
                    url: $("#yourFormId").attr('action'),
                    data: $("#yourFormId").serialize(),
                    dataType: "json",
                    success: function (data) {
                        console.log('AJAX Response:', data);
        
                        if (data.success) {
                            // Redirect to the purchasebill1.html page
                            window.location.href = '/path/to/purchasebill1.html';
                            
                            // Update the dropdown with new items
                            updateDropdown(data.items);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX Error:', error);
                    }
                });
            });
        
            // Function to update the dropdown with new items
            function updateDropdown(items) {
                var dropdown = $("#cname");
        
                // Clear existing options
                dropdown.empty();
        
                // Add the default option
                dropdown.append('<option value="">Select Type</option>');
        
                // Add new items to the dropdown
                items.forEach(function (item) {
                    dropdown.append('<option value="' + item.id + '">' + item.name + '</option>');
                });
            }
        });
        
        document.getElementById("nonTaxableRadio").addEventListener("change", function () {
            document.getElementById("nonTaxableFields").style.display = "block";
            document.getElementById("taxableFields").style.display = "none";
        });
    
        document.getElementById("taxableRadio").addEventListener("change", function () {
            document.getElementById("nonTaxableFields").style.display = "none";
            document.getElementById("taxableFields").style.display = "block";
        });
    
        document.getElementById("stockInHand").addEventListener("input", function () {
            var stockInHandValue = parseInt(this.value, 10);
    
            // Show the extra field if the stock in hand value is 1 or above
            if (stockInHandValue >= 1) {
                document.getElementById("extraPriceField").style.display = "block";
            } else {
                document.getElementById("extraPriceField").style.display = "none";
            }
        });


       

    </script>
    
{% comment %} ----------------------------------------------------------------------------------------------- {% endcomment %}
       

<div class="container-fluid" >
    <div class="row" >
        <div class="col-md-4" >
            <div class="card"style="background-color:rgb(57, 193, 247); margin-top:15px;">
                <div class="form-group">
                    <label style="margin-left:35px; margin-top:50px;">Sub Total :</label>
                    <input type="number" name="sub" style="width: 150px;" required><br>

                    <label style="margin-left:35px; margin-top:20px;">CGST :</label>
                    <input type="number" name="cgst" style="width: 150px;" required><br>

                    <label style="margin-left:35px; margin-top:20px;">SGST :</label>
                    <input type="number" name="sgst" style="width: 150px;" required><br>

                    <label style="margin-left:35px; margin-top:20px;">Tax Amount :</label>
                    <input type="number" name="amount" style="width: 150px;" required><br>

                    <label style="margin-left:35px; margin-top:20px;">Adjustment :</label>
                    <input type="number" name="adjustment" style="width: 150px;" required><br>

                    <label style="margin-left:35px; margin-top:20px;">Paid Off :</label>
                    <input type="number" name="paid" style="width: 150px;" required><br>

                    <label style="margin-left:35px; margin-top:20px;">Balance :</label>
                    <input type="number" name="balance" style="width: 150px;" required><br>


                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>